@{
    ViewData["Title"] = "Clientes";
}



<div ng-app="App">
    <div ng-controller="ClientesController">

        <div ng-show="master">
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cliente in clientes" ng-click="clienteClicked(cliente)" ng-model="master">
                   
                    <td>{{cliente.id}}</td>
                    <td>
                        {{cliente.nombre}}
                    </td>               
                </tr>
            </tbody>
        </table>
            <label>Registrar nuevo cliente:</label>
            <input type="checkbox" ng-model="checkNewCliente" aria-label="Toggle ngShow"><br />
            <div ng-show="checkNewCliente">
                <form ng-submit="registrarNuevoCliente()">

                    <input type="text" ng-model="newCliente.Nombre" />
                    <input type="submit" value="Registrtar" />

                </form>
            </div>
        </div>

        
        <div ng-show="detail">
        <ul class="pager">
            <li class="previous" ng-click="clienteClicked()"><a href="">Previous</a></li>
        </ul> 
            <h2>{{clienteDetail.nombre}}</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Tipo
                        </th>
                        <th>
                            Numero
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="telefono in clienteDetail.telefonos">
                        <td>{{telefono.tipo == 1 ? 'Telefono fijo': 'Telefono movil'}}</td>
                        <td>{{telefono.descripcion}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="form-group">
                <label for="select">Select list:</label>
                <select class="form-control" id="select">
                    <option>Telefono fijo</option>
                    <option>Telefono movil</option>
                </select><br />
                <input type="text" class="form-control" ng-model="newPhone.descripcion"/><br />
                <button class="btn btn-primary" ng-click="addNewPhone(newPhone)">Agregar</button>
            </div>
            
            </div>
        </div>

    </div>